*.pyc
*.env
*.html
.vscode/
*.pylintrc
.cache/
build/
*pycache*
doc/_build
doc/_srcdocs
*_old.py
*hide*
coloring.json
coloring_files/total_coloring.pkl
.pytest_cache/
*.sql
*.pkl
*openmdao_checks.out
*egg-info/
openconcept/.coverage
.coverage
scratch/
*.out
*.zip
*.npy
.DS_Store
.flake8
