*.pyc
*.env
*.html
.vscode/
*.pylintrc
.cache/
build/
*pycache*
docs/_build
docs/_srcdocs
*_old.py
*hide*
coloring.json
coloring_files/total_coloring.pkl
.pytest_cache/
*.sql
*.pkl
*openmdao_checks.out
*egg-info/
openconcept/.coverage
.coverage
