name: Build

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest", "windows-latest"]
      fail-fast: false
    defaults:
      run:
        shell: bash -l {0}
    steps:
    - uses: actions/checkout@v2
    - name: Set Python Version
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        python-version: 3.6
    - name: Setup conda
      run: |
        conda config --set always_yes yes
        conda install numpy scipy
    - name: Install
      run: |
        pip install coverage pytest-cov sphinx_rtd_theme
        pip install .[testing]
    - name: Install OpenAeroStruct
      run: |
        pip install git+https://github.com/mdolab/OpenAeroStruct.git@master
        pwd
        ls -la
        cd ..
        pwd
        ls -la
    - if: ${{ matrix.os == 'ubuntu-latest' }}
      name: Download engine deck surrogate model data Ubuntu
      run: |
        wget http://umich.edu/~mdolaboratory/repo_files/openconcept/engine_kriging_surrogate_model.tar.gz
    - if: ${{ matrix.os == 'windows-latest' }}
      name: Download engine deck surrogate model data Windows
      run: |
        curl -L -o engine_kriging_surrogate_model.tar.gz http://umich.edu/~mdolaboratory/repo_files/openconcept/engine_kriging_surrogate_model.tar.gz
    - name: Move engine deck files to appropriate location
      run: |
        tar -xvf engine_kriging_surrogate_model.tar.gz
        mv cfm56* ./openconcept/components/empirical_data/cfm56
        mv n3_hybrid* ./openconcept/components/empirical_data/n+3_hybrid
        mv n3* ./openconcept/components/empirical_data/n+3
    - name: Build and Test
      run: |
        python -m pytest --cov-config .coveragerc --cov=openconcept
    - name: Push to Coveralls
      if: ${{ matrix.os == 'ubuntu-latest' }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        pip install coveralls
        coveralls --service=github --rcfile=.coveragerc
